:root {
    --accent-color: #2196f3;
    --text-color: #757575;
}
body {
    font-family: "Roboto", sans-serif;
    background: #ffffff;
    letter-spacing: 0.03em;
}

/* =============== Utility =============== */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: #212121;
}

.current {
    color: var(--accent-color);
}

/*=============== Header =============== */

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: var(--accent-color);
    line-height: 1.19;
    letter-spacing: 0.03rem;
}

.header-studio {
    color: #000;
}

.navigation-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigation-item:hover,
.navigation-item:focus {
    color: var(--accent-color);
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contacts-item:hover,
.contacts-item:focus {
    color: var(--accent-color);
}

/*=============== Hero =============== */

.hero {
    background: #2f303a;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: #ffffff;
}

.button:hover,
.button.focus {
    background: #188ce8;
}

/* =============== Advantages =============== */

.advantages-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
}

/* =============== Team =============== */

.team {
    background: #f5f4fa;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--text-color);
}

.name {
    font-weight: 500;
    color: #000;
}

/* =============== Portfolio =============== */

.filter-button {
    font-family: inherit;
    background: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #212121;
}

.filter-button:hover,
.filter-button:focus {
    color: #ffffff;
    background-color: var(--accent-color);
}

.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color);
}

/* =============== Footer =============== */

.footer {
    background: #2f303a;
}

.footer-studio {
    color: #fff;
}

.address-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.map-link {
    color: #fff;
}
